<div class="card w-full">
    <div class="card-body flex flex-row items-center h-24">
        <div class="avatar placeholder mr-2">
            @if (beneficiaryInfo.bank == 'CAPITEC') {
                <div class="bg-neutral text-neutral-content w-16 rounded-full border-4 border-bg-error">
                    <span class="text-xl">{{beneficiaryInfo.beneficiaryName.charAt(0)}}</span>
                </div>
            }
            @else {
                <div class="bg-neutral text-neutral-content w-16 rounded-full ">
                    <span class="text-xl">{{beneficiaryInfo.beneficiaryName.charAt(0)}}</span>
                </div>
            }
            
        </div>
      <div class="flex flex-col text-md justify-items-end">
        <div>
            {{beneficiaryInfo.beneficiaryName}}
        </div>
        <div class="flex text-sm text-neutral-500">
            <div>
                {{beneficiaryInfo.bank}} - 
            </div>
            <div class="text-sm text-neutral-500">
                &nbsp;{{beneficiaryInfo.accountNumber}}
            </div>
        </div>
      </div>
    </div>
</div>
<div class="divider h-2">
</div>